!!! 5
%html
  %head
    %script{:type => "text/javascript", :src => "/notification.js"}
    %script{:type => "text/javascript", :src => "/test.js"}
  %body
    %div{:onclick=>"test();"}
      CLICK ME!!